.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    min-height: 500px;
}

.slider {
    width: 40%;
    /* debug */
    min-height: 300px;
    background-color: orange;
}

.items-container {
    min-height: 300px;
    background-color: red;
    border: 1px solid black;
    position: relative;
}

.items-container button{
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
}

.items-container i {
    background-color: lightgray;
    padding: 7px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.fa-chevron-up {
    top: 0;
}

.fa-chevron-down {
    bottom: 0;
}

img {
    width: 100%;
}

.item {
    display: none;
}

.active {
    display: block;
}

.hidden {
    display: none;
}